@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama-nueva');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* * {
  border: 1px solid red;
}
body{
  border: 3px dashed green;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

body {
  background: black;
}


/* shared style list  */
.display-flex {
  display: flex;
}

/* nav-bar style list  */

.header {
  background: linear-gradient(180deg,
      rgba(19, 19, 19, 0.747) 0%,
      rgb(30, 30, 30) 50%,
      rgba(1, 1, 1, 0.719) 100%);
  /* padding-top: 20px; */
  display: flow-root;
}

.fitness i {
  display: none;
}

.nav-bar {

  justify-content: space-around;
  margin: 0 auto;
  margin-top: 47px;
  align-items: center;

}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.brand {
  margin: 0px 10px;
  color: rgb(230, 83, 60);
  font-size: 2rem;
  font-weight: 700;
}

.nav-list {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}

.home-btn {
  padding: 2px 15px 2px 15px;
  border-radius: 39px;
  background-color: rgb(230, 83, 60);
}

/* hero section style  */

.hero-img-card {
  position: relative;
}

.card-1,
.card-2 {
  position: absolute;
}

.circle {
  width: 30px;
  height: 30px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}

.card-1,
.card-2 {
  bottom: 60px;
  width: 155px;
  height: 70px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}

.card-1 {
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.card-2 {
  right: 20px;
  top: 190px;

}
.card-2 h2{
  font-size: 30px;
font-weight: 900;
}
.card-2 p ,.card-1 p{
  color: rgba(255, 255, 255, 0.65);
font-size: 13px;
font-weight: 400;
}

.card-2-title{
  margin: 7px 10px;
}

#special {
  font-family: 'Miama Nueva', sans-serif;
  font-size: 65px;
  font-weight: 800;
}

.hero-section {
  justify-content: space-around;

}


.hero-content h1 {
  margin: 28px 0px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 78px;
  font-weight: 900;
}

.hero-content p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin: 28px 0px;
}

.hero-btn .btn-1 {
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
}

.hero-btn .btn-2 {
  padding: 16px 40px 16px 40px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background-color: black;
}

.hero-btn {
  margin-top: 16px;
}

.hero-img>img {
  width: 349px;

}

/* habits section style  */

.habits {
  margin: 100px 195px;
}

.habit-title h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 270px;
}

.habit-title p {
  width: 41rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 150px;
  /* margin: 0 auto; */
  text-align: center;
  margin-bottom: 45px;
}

.habit-cards {
  justify-content: space-between;
}

.habit-card img {
  border-radius: 50%;
}

.habit-card h4 {
  width: 93px;
  margin: 4px 0px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin: 10px 55px 6px;
}

.habit-card p {
  width: 231px;
  margin: 6px 0px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* run section style  */

.run-section {
  width: 1060px;
  /* height: 371px; */
  border-radius: 18px;
  background: rgb(34, 34, 34);
  margin: 62px 0px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.run-title h2 {
  /* width: 443px; */
  /* height: 116px; */
  margin: 14px 0px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 42px;
  font-weight: 800;

}

.run-title p {
  width: 443px;
  margin: 10px 0px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.run-title button {
  width: 180px;
  height: 50px;
  margin: 15px 0px;
  border-radius: 40px;
  background: rgb(230, 83, 60);
}

.run-img img {
  width: 345px;
  height: 290px;
  border-radius: 18px;
  object-fit: cover;
  object-position: 100% 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* BMI calculator style  */
.bmi-title {
  margin: 78px 0 80px;
  text-align: justify;
  text-align: center;
}

.bmi-title h1 {
  font-size: 48px;
  font-weight: 900;

}

.bmi-title p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);

}

.bmi-table h2 {
  margin-bottom: 70px;
}

.bmi-title p {
  font-size: 14px;
  font-weight: 400;
}

.bmi-table table,
th,
td {
  border: .1px solid rgb(255, 255, 255);
  border-collapse: collapse;
}

.bmi-table th,
td {
  padding: 10px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  ;
}

.bmi-table th {
  color: white;
}

.bmi-chart {
  justify-content: space-around;
  background: rgb(34, 34, 34);
  min-height: 470px;
  align-items: center;
}

.bmi-dis h2 {
  font-size: 28px;
  font-weight: 900;
}

.bmi-dis p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin: 10px 0;
}

.bmi-dis select {
  width: 283px;
  height: 48px;
  margin: 0 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  margin: 5px;
  text-align: start;
  color: rgba(255, 255, 255, 0.5);
}

.bmi-dis input {
  width: 282.5px;
  height: 48px;
  margin: 0 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  margin: 5px;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.bmi-cal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#factor {
  grid-column: span 2;
}

#factor select {
  width: 100%;
}

.bmi-dis select option {
  color: black;
}

.bmi-chart button {
  width: 200px;
  height: 48px;
  padding: 11px 30px 11px 30px;
  margin: 10px 0px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
}

/* team section style  */

.team-title {
  text-align: center;
  margin: 75px 0;
}

.team-title h2 {
  font-size: 42px;
  font-weight: 900;
}

.team-title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin: 14px 0px;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 980px;
  padding: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  justify-items: center;
  gap: 20px;
  margin: 0 auto;
}

.team-img img {
  width: 300px;
  height: 250px;
  border-radius: 18px;
  object-fit: cover;
  align-items: center;
}

#img-04 {
  object-position: 50% 0;
}

.team-img .team-box {
  position: relative;
}

.team-img .team-dis {
  position: absolute;
  bottom: 25px;
  left: 10px;
}

.team-img h3 {
  font-size: 15px;
  font-weight: 800;
}

.team-img p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

/* pricing section style  */

.price-title{
  text-align: center;
  margin: 75px 0;
}

.price-title h2{
  font-size: 38px;
  font-weight: 900;
}
.price-title p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin: 14px 0px;
}

.price-boxs{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.price-card{
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  margin: 0 auto;
}
.price-card-content{
  flex: 1;
  margin-bottom: 1rem;
}
.price-card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.price-card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
.price-card p {
  margin-bottom: 0.75rem;
}
.price-btn{
  width: 200px;
  height: 48px;
  padding: 11px 30px 11px 30px;
  margin: 10px 0px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
}
.price-border{
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-bottom: 13px;
}


/* footer section style  */
.footer-box {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 88px;
}

.footer {
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.footer-fit h1 {
  font-size: 60px;
  font-weight: 800;
  color: rgb(230, 83, 60);
  margin: 20px 0px;
}

.footer-fit p {
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0px;
  color: rgba(255, 255, 255, 0.5);
}

.footer-title {
  gap: 60px;
  margin-top: 60px;
}

.footer-title h {
  font-size: 32px;
  font-weight: 700;
}

.footer-title ul li {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  list-style: none;
  padding: 10px;
  text-align: justify;
}

.footer-line {
  max-width: 1050px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin: 79px;
}

.footer-para p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 35px;
}

/* media quary for small devices  */

@media screen and (max-width: 576px) {

  body {
    overflow-x: hidden;
  }

  .nav-list {
    display: none;
  }

  .fitness i {
    display: block;
  }

  .fitness {
    align-items: center;

  }

  .fitness i {
    margin-left: 187px;
  }

  .hero-section {
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }

  .hero-content h1 {
    font-size: 36px;
    font-weight: 900;
  }

  #special {
    font-size: 36px;
    font-weight: 800;
  }

  .habits {
    margin: 0 auto;
  }

  .habit-cards {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .habit-title h2 {
    font-size: 32px;
    font-weight: 800;
    margin: 20px;
  }

  .habit-title p {
    width: 315px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .run-section {
    flex-direction: column;
    width: 353px;
    height: 615px;
    margin-top: 15px;
  }

  .run-title {
    width: 287px;
  }

  .run-title p {
    font-size: 14px;
    font-weight: 400;
    width: 287px;
  }

  .run-img {
    width: 100%;
    height: 100%;
  }

  .bmi-chart {
    flex-direction: column;
  }

  .bmi-title {
    margin: 10px 0 10px;
  }

  .bmi-title h2 {
    margin: 12px 0px;
    font-size: 28px;
    font-weight: 700;
  }

  .bmi-title p {
    height: 72px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px 0px;
    margin-left: 14px;
  }

  .bmi-table {
    margin-left: 23px;
    margin-right: auto;
  }

  .bmi-table h2 {
    margin-top: 15px;
  }

  .bmi-dis h2 {
    width: 353px;
    height: 48px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .bmi-dis p {
    width: 346px;
    height: 72px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 20px;
  }

  .bmi-cal {
    gap: 10px;

    margin: 0 auto;
  }

  .bmi-dis select {
    width: 100%;
    height: 48px;
  }

  .bmi-dis input {
    width: 100%;
    height: 48px;
  }

  #factor select {
    width: 100%;
    height: 48px;
  }




  .team-img {
    grid-template-columns: 1fr;
    margin: 0px 20px;
    margin: 0px 20px;
    gap: 10px;
    align-items: center;
  }

  .team-box {

    margin: 5px 0px;
    align-items: center;
  }

  .price-boxs{
    grid-template-columns: 1fr;
  }

  .footer-title,
  .footer {
    flex-direction: column;
  }

  .footer-title {
    justify-content: left;
    width: 353px;
    height: 518px;
  }

  .footer-line {
    margin-left: 40px;
    margin-top: 10px;
  }

}